
services:

  frontend:
    build: ./frontend
    ports:
      - "3001:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db

    db:
    image: postgres:15-alpine
    container_name: jass_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pfe2026
      POSTGRES_DB: jass_ecommerce
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d jass_ecommerce"]
      interval: 5s
      timeout: 5s
      retries: 5